
$signInColor: #f0ebe5;
$colorButton: #3b3b3b;



@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}


@mixin btn {
    border-style: none;
    color: white;
    background-color: $colorButton;
    padding: 1rem;
}


@mixin inputField {
    border-width: 0 0 1px 0;
    border-color: black;
    background-color: $signInColor;
    margin-bottom: 1rem;
}

@mixin boxshadow {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.199);
}

@mixin insetboxshadow {
    box-shadow: inset 0 0 1rem rgba(0, 0, 0, 0.192);
}

@mixin nullify {
    text-decoration: none;
    color: black;
}

