@import '_variables';

body{

    margin:0;
    width: 100%;
    background-color: #f0ebe5;

    main{

        margin: 2rem 5rem;
        display: flex;

        aside {
            width: 20vw;
            margin-right: 1rem;

            .maininfo {
                @include center;
                flex-direction: column;
                padding-top: 3rem;
                border: rgb(204, 204, 204) solid;
                border-width: 1px;
                background-color: white;

                a {
                    padding: 0.65rem 1rem;
                    border-radius: 100%;
                    @include nullify;
                    position: relative;
                    top: 1.4rem;
                    background-color: $colorButton;
                    color: white;
                    font-size: 1.5rem;
                    font-weight: 900;
                }
            }

            .smallContianer{
                margin-top: 2rem;
                max-width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                .smallImg {
                    height: $imagehight*1.5;
                    max-width: $imagewidth*1.5;

                }
            }            
        }

        section {
            width: 80vw;

            .conatinerPost {
                border: rgb(204, 204, 204) solid;
                border-width: 1px;
                background-color: white;
                display: grid;
                grid-template-columns:$imagewidth*10 auto;
                grid-template-areas: 
                    "img info"
                    "l l";
                margin-top: 1rem;

                .textPost {
                    grid-area: l;
                    padding: 1rem;
                    display: grid;
                    grid-template-columns: 1fr 3fr 1fr;
                    grid-template-areas: "prof txt btn";
                    .profile {
                        grid-area: prof;
                        @include center;
                        flex-direction: column;
                        img {
                            @include nullify;
                            width: 10rem;
                            height: auto;
                        }
                        a {
                            @include nullify;
                        }
                    }

                    p {
                        grid-area: txt;
                        @include center;

                    }

                    .btns {
                        grid-area: btn;
                        @include likeComment;
                        @include center;

                        button {
                            @include nullify();
                            background-color: white;
                        }
                    }

                }

                img {
                    width: $imagewidth*10;
                    height: $imagehight*10;
                    grid-area: img;
                    @include boxshadow;
                    padding: 0.2rem;
                    background-color: white;
                }

                .postInfo {
                    padding: 0 1rem;
                    @include boxshadow;
                    background-color: white;

                    grid-area: info;
                    @include center();
                    flex-direction: column;
                    img {
                        @include nullify();
                        width: 10rem;
                        height: auto;
                    }
                    a {
                        @include nullify();
                    }

                    .btns {
                        @include likeComment;
                        button {
                            @include nullify();
                            background-color: white;
                        }
                    }
                }
            }

            .update {
                @include center;
                background-color: white;
                border-style: solid;
                border-color: rgb(204, 204, 204);
                flex-direction: column;
                border-width: 1px;
                padding: 1rem;
                @include boxshadow;
                .textfield{
                    width: 100%;
                    padding: 3rem 0;
                    border-radius: 4px;
                    border-style: solid;
                    border-color: rgb(204, 204, 204);
                    border-width: 1px;
                }
                .btns {
                    @include center;
                    justify-content: space-between;
                    width: 98%;
                    .btn {
                        width: 48%;
                        margin-top: 1rem ;
                        @include nullify;
                        @include center;
                        @include btn;

                    }
                }
            }



        }
    }

}











