body {
  margin: 0;
  width: 100%;
  background-color: #f0ebe5;
}

body main {
  margin: 2rem 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main aside {
  width: 20vw;
  margin-right: 1rem;
}

body main aside .maininfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 3rem;
  border: #cccccc solid;
  border-width: 1px;
  background-color: white;
}

body main aside .maininfo a {
  padding: 0.65rem 1rem;
  border-radius: 100%;
  text-decoration: none;
  color: black;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.199);
          box-shadow: 0 0 0 rgba(0, 0, 0, 0.199);
  border-style: none;
  position: relative;
  top: 1.4rem;
  background-color: #3b3b3b;
  color: white;
  font-size: 1.5rem;
  font-weight: 900;
}

body main aside .smallContianer {
  margin-top: 2rem;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main aside .smallContianer .smallImg {
  height: 4.5rem;
  max-width: 5.25rem;
}

body main section {
  width: 80vw;
}

body main section .conatinerPost {
  border: #cccccc solid;
  border-width: 1px;
  background-color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 35rem auto;
      grid-template-columns: 35rem auto;
      grid-template-areas: "img info" "l l";
  margin-top: 1rem;
}

body main section .conatinerPost .textPost {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: l;
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr 1fr;
      grid-template-columns: 1fr 3fr 1fr;
      grid-template-areas: "prof txt btn";
}

body main section .conatinerPost .textPost .profile {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: prof;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main section .conatinerPost .textPost .profile img {
  text-decoration: none;
  color: black;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.199);
          box-shadow: 0 0 0 rgba(0, 0, 0, 0.199);
  border-style: none;
  width: 10rem;
  height: auto;
}

body main section .conatinerPost .textPost .profile a {
  text-decoration: none;
  color: black;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.199);
          box-shadow: 0 0 0 rgba(0, 0, 0, 0.199);
  border-style: none;
}

body main section .conatinerPost .textPost p {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: txt;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main section .conatinerPost .textPost .btns {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: btn;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: black;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.199);
          box-shadow: 0 0 0 rgba(0, 0, 0, 0.199);
  border-style: none;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main section .conatinerPost .textPost .btns .fa {
  text-decoration: none;
  color: black;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.199);
          box-shadow: 0 0 0 rgba(0, 0, 0, 0.199);
  border-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main section .conatinerPost .textPost .btns button {
  text-decoration: none;
  color: black;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.199);
          box-shadow: 0 0 0 rgba(0, 0, 0, 0.199);
  border-style: none;
  background-color: white;
}

body main section .conatinerPost img {
  width: 35rem;
  height: 30rem;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: img;
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.199);
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.199);
  padding: 0.2rem;
  background-color: white;
}

body main section .conatinerPost .postInfo {
  padding: 0 1rem;
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.199);
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.199);
  background-color: white;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: info;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main section .conatinerPost .postInfo img {
  text-decoration: none;
  color: black;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.199);
          box-shadow: 0 0 0 rgba(0, 0, 0, 0.199);
  border-style: none;
  width: 10rem;
  height: auto;
}

body main section .conatinerPost .postInfo a {
  text-decoration: none;
  color: black;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.199);
          box-shadow: 0 0 0 rgba(0, 0, 0, 0.199);
  border-style: none;
}

body main section .conatinerPost .postInfo .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: black;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.199);
          box-shadow: 0 0 0 rgba(0, 0, 0, 0.199);
  border-style: none;
}

body main section .conatinerPost .postInfo .btns .fa {
  text-decoration: none;
  color: black;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.199);
          box-shadow: 0 0 0 rgba(0, 0, 0, 0.199);
  border-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main section .conatinerPost .postInfo .btns button {
  text-decoration: none;
  color: black;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.199);
          box-shadow: 0 0 0 rgba(0, 0, 0, 0.199);
  border-style: none;
  background-color: white;
}

body main section .update {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border-style: solid;
  border-color: #cccccc;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-width: 1px;
  padding: 1rem;
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.199);
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.199);
}

body main section .update .textfield {
  width: 100%;
  padding: 3rem 0;
  border-radius: 4px;
  border-style: solid;
  border-color: #cccccc;
  border-width: 1px;
}

body main section .update .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 98%;
}

body main section .update .btns .btn {
  width: 48%;
  margin-top: 1rem;
  text-decoration: none;
  color: black;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.199);
          box-shadow: 0 0 0 rgba(0, 0, 0, 0.199);
  border-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-style: none;
  color: white;
  background-color: #3b3b3b;
  padding: 1rem;
}
/*# sourceMappingURL=socials.css.map */