@import '_variables';

body{

    background-color: #d4b8d2;
    @include center;
    flex-direction: column;
    height: 100vh;
    main{
        @include center;
        @include boxshadow;

        height: 70vh;
        width: 60vw;

        section{
            height: 100%;
            width: 50%;
            @include center;
            background-color: white;
            img {
                width: 80%;
                height: auto;
            }
        }

        .signIn{
            @include center;
            @include insetboxshadow;

            width: 50%;
            height: 100%;
            background-color: $signInColor;

            h2 {
                align-self: flex-start
            }

            .login {
                display: flex;
                flex-direction: column;
                width: 80%;
                

                form {
                    display: flex;
                    flex-direction: column;
                    width: 80%;

                    
                    input {
                        @include inputField;
                        &.btn {
                            @include btn
                        }
                    }

                }
            
            }
            
            // .signUp {
            //     display: block;
            // }
        }

    }

}









