body {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#FE8C8B), to(#FDBA45));
  background-image: linear-gradient(to bottom right, #FE8C8B, #FDBA45);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

body nav {
  display: none;
}

body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.199);
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.199);
  height: 70vh;
  width: 60vw;
}

body main section {
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

body main section img {
  width: 80%;
  height: auto;
}

body main .signIn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: inset 0 0 1rem rgba(0, 0, 0, 0.192);
          box-shadow: inset 0 0 1rem rgba(0, 0, 0, 0.192);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  height: 100%;
  background-color: #f0ebe5;
}

body main .signIn #signInOption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 1;
  top: 10rem;
  right: 20rem;
  border-style: none;
  border-style: none;
  color: white;
  background-color: #3b3b3b;
  padding: 1rem;
  width: 5rem;
  border-radius: 25px;
}

body main .signIn h2 {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

body main .signIn .login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
}

body main .signIn .login form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
}

body main .signIn .login form input {
  border-width: 0 0 1px 0;
  border-color: black;
  background-color: #f0ebe5;
  margin-bottom: 1rem;
}

body main .signIn .login form input.btn {
  border-style: none;
  color: white;
  background-color: #3b3b3b;
  padding: 1rem;
}

body main .signIn .signUp {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
}

body main .signIn .signUp form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
}

body main .signIn .signUp form input {
  border-width: 0 0 1px 0;
  border-color: black;
  background-color: #f0ebe5;
  margin-bottom: 1rem;
}

body main .signIn .signUp form input.btn {
  border-style: none;
  color: white;
  background-color: #3b3b3b;
  padding: 1rem;
}
/*# sourceMappingURL=style.css.map */